.tags{
    display: flex;
    margin-top: 20px;
}

.categories{
    display: flex;
    margin-top: 20px;
}

.cards-section{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}