.category{
    padding: 15PX;
    display: flex;
    width: 170px;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    color: white;
}

form{
    width: 100%;
    & .blue{
        background-color: $colour-blue;
    }  
    & .green{
        background-color: $colour-green;
    } 
    & .red{
        background-color: $colour-red;
    }
}

#search-by{
    display: inline-block;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: initial;
    font-weight: bold;
    color: white;
    &::placeholder{
        color: white;
    }
}
